
<div class="card">
  <div class="card-body">
    <h5>Add New Innovation</h5>
    <form (ngSubmit)="save()" #innovationForm="ngForm">
      <div class="row form-group">
        <!-- CGIAR entity-->
        <div class="col">
          <label for="projectID">CGIAR Entity</label>
          <input type="text" class="form-control form-control-sm" value="{{ params.entityAcronym }}" >
        </div>
        <!-- Project ID -->
        <div class="col">
          <label for="projectID">Project ID</label>
          <input type="text" class="form-control form-control-sm" name="projectId" [(ngModel)]="innovation.projectId">
        </div>
        <!-- Year-->
        <div class="col">
          <label for="year">Year</label>
          <input type="text" class="form-control form-control-sm" name="Year" [(ngModel)]="year">
        </div>
      </div>
      <hr>

      <!-- Title -->
      <div class="form-group">
        <label for="title">Innovation Title</label>
        <input type="text" class="form-control form-control-sm" id="title" name="title" [(ngModel)]="innovation.title" required>
      </div>
      <!-- Narrative -->
      <div class="form-group">
        <label for="narrative">Narrative</label>
        <textarea class="form-control form-control-sm" id="narrative" rows="3" name="narrative" [(ngModel)]="innovation.narrative"></textarea>
      </div>

      <div class="row form-group">
        <!-- Innovation Stage -->
        <div class="col">
          <label for="inputState">Innovation Stage</label>
          <select id="inputState" class="form-control form-control-sm" name="stageOfInnovation" [(ngModel)]="innovation.stageOfInnovation">
            <option value="-1" selected>Choose...</option>
            <option *ngFor="let stage of innovationStages" value="{{ stage.code }}">{{ stage.name }}</option>
          </select>
        </div>
        <!-- Innovation Type -->
        <div class="col">
          <label for="inputState">Innovation Type</label>
          <select id="inputState" class="form-control form-control-sm" name="innovationType" [(ngModel)]="innovation.innovationType">
            <option value="-1" selected>Choose...</option>
            <option *ngFor="let type of innovationTypes" value="{{ type.code }}">{{ type.name }}</option>
          </select>
        </div>
        <!-- Other Innovation Type-->
        <div class="col" *ngIf="innovation.innovationType == 6">
          <label for="title">Other Innovation Type</label>
          <input type="text" class="form-control form-control-sm" id="title" name="otherInnovationType" [(ngModel)]="innovation.otherInnovationType" required>
        </div>
      </div>
      <!-- Description of stage -->
      <div class="form-group">
        <label for="descriptionStage">Description of innovation stage</label>
        <textarea class="form-control form-control-sm" id="descriptionStage" rows="3" name="descriptionStage" [(ngModel)]="innovation.descriptionStage"></textarea>
      </div>
      <!-- Organization Types -->
      <div class="form-group">
        <label for="descriptionStage">Organization Type(s)</label>
        <select class="custom-select" name="nextUserOrganizationTypes" [(ngModel)]="innovation.nextUserOrganizationTypes" multiple>
          <option *ngFor="let type of orgTypes" value="{{ type.code }}">{{ type.name }}</option>
        </select>
      </div>
      <!-- Geographic Scopes -->
      <div class="form-group">
        <label for="descriptionStage">Organization Type(s)</label>
        <select class="custom-select" name="geographicScopes" [(ngModel)]="innovation.geographicScopes" multiple>
          <option *ngFor="let scope of geographicScopes" value="{{ scope.code }}">{{ scope.name }}</option>
        </select>
      </div>
      <!-- Regions -->
      <div class="form-group">
        <label for="descriptionStage">Regions</label>
        <select class="custom-select" name="regions" [(ngModel)]="innovation.regions" multiple>
          <option *ngFor="let region of regions" value="{{ region.um49Code }}">{{ region.name }}</option>
        </select>
      </div>
      <!-- Countries -->
      <div class="form-group">
        <label for="descriptionStage">Countries</label>
        <select class="custom-select" name="countries" [(ngModel)]="innovation.countries" multiple>
          <option *ngFor="let country of countries" value="{{ country.isoAlpha2 }}">{{ country.name }}</option>
        </select>
      </div>
      <!-- No clear lead (equitable collaborative effort) equitativeEffort -->
      <div class="form-group">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="equitativeEffort" name="equitativeEffort" value="true" [(ngModel)]="innovation.equitativeEffort">
          <label class="custom-control-label" for="equitativeEffort">No clear lead (equitable collaborative effort)</label>
        </div>
      </div>
      <!--   Name of lead organization/entity to take innovation to this stage:  -->
      <div class="form-group">
        <label for="inputState">Name of lead organization/entity to take innovation to this stage</label>
        <select id="inputState" class="form-control form-control-sm" name="leadOrganization" [(ngModel)]="innovation.leadOrganization">
          <option value="-1" selected>Choose...</option>
          <option *ngFor="let institution of institutions" value="{{ institution.code }}">{{ institution.acronym}} - {{ institution.name }}</option>
        </select>
      </div>
      <!--   Names of top five contributing organizations/entities to this stage:  -->
      <div class="form-group">
        <label for="descriptionStage">Names of top five contributing organizations/entities to this stage</label>
        <select class="custom-select" name="contributingInstitutions" [(ngModel)]="innovation.contributingInstitutions" multiple>
          <option *ngFor="let institution of institutions" value="{{ institution.code }}">{{ institution.acronym}} - {{ institution.name }}</option>
        </select>
      </div>
      <!-- Evidence Link(s) -->
      <div class="form-group">
        <label for="descriptionStage">Evidence Link(s)</label>
        <textarea class="form-control form-control-sm" id="evidenceLink" rows="3" name="evidenceLink" [(ngModel)]="innovation.evidenceLink"></textarea>
      </div>
      <!--  Contributing CRPs/Platforms -->
      <div class="form-group">
        <label for="descriptionStage">Contributing CRPs/Platforms</label>
        <select class="custom-select" name="contributingCGIAREntities" [(ngModel)]="innovation.contributingCGIAREntities" multiple>
          <option *ngFor="let entity of cgiarEntities" value="{{ entity.code }}"> {{ entity.acronym }}</option>
        </select>
      </div>





      <button type="submit" [disabled]="innovationForm.invalid" class="btn btn-primary">Submit</button>
    </form>

    <hr>

    <pre>
      {{ innovation | json }}
    </pre>

  </div>

</div>
