nav {
  color: #444;
  background-color: #fff;
}

nav .brand-logo {
  color: #444;
}

nav a {
  color: #444;
}

nav ul a {
  color: #444;
}


.page-footer {
  color: #444;
  background-color: #fbfbfb;
}
